.colorText {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 100%;
  width: 100%;
  border: none;
}
.mds__form-color-content {
  overflow: inherit !important;
}
p {
  margin-bottom: 0 !important;
}