.error-class {
    border: 1px solid red;
}
.imagebtn{
    cursor: pointer;
    background: #bbf3ff;
    font-size: 12px;
    font-weight: 600;
    height: 170px;
    border-radius: 0px;
    color: #00bef2;
    text-transform: uppercase;
    width: 100%;
    border: 0px !important;
}

.img-set {
    right: 25px !important;
}
.price-col {
  padding-right: 2px !important;
}
.label-col {
    padding-left: 2px !important;
    .example-chip-list {
        width: 100%;
      }
}
.name-form {
    margin-bottom: 5px;
}

