.reg-user-card {
    margin-bottom: 3px;
    padding: 0;
    border-radius: 0 !important;
    background: #eeeeee !important;
    border: 0 !important;
}

// ingredient css

.mybtn {
    height: 170px;
}

.hidedrag {
    display: none;
}

.item {
    text-transform: capitalize;
}



