.error-class {
    border: 1px solid red;
}

.error {
    color: #dc3545;
    font-size: 80%;
}
.cat-select {
    padding: 16px;
    background: #eee;
}
.import-btn {
    width: 40% !important;
}
.imagebtn{
    cursor: pointer;
    background: #bbf3ff;
    font-size: 12px;
    font-weight: 600;
    height: 170px;
    border-radius: 0px;
    color: #00bef2;
    text-transform: uppercase;
    width: 100%;
    border: 0px !important;
}

.img-set {
    right: 25px !important;
}